!!! 5
html
  head
    title General Toast : The Adventure Logs
    meta(content='width=device-width, height=device-height, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0', name='viewport')
    meta(content='yes', name='apple-mobile-web-app-capable')
    meta(content='chrome=1', http-equiv='X-UA-Compatible')
    link(rel='shortcut icon', href='/images/favicon.png')
    link(rel='stylesheet', href='/stylesheets/main.css')

  body(data-url='#{url}')
    #wrapper
      .content
        #header
          a(href='/') /
          a(href='/recent') Subscribe
          if session.isAdmin
            a(href='/add') Add new
            a(href='javascript:;', data-action='logout') Log out

        block content
        #footer

    script(src='https://login.persona.org/include.js', type='text/javascript')
    script(src='/javascripts/require.js', data-main='/javascripts/config')
