<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
  {% if isDebug %}
  <link rel="stylesheet" href="/stylesheets/main.css">
  <link rel="stylesheet" href="/stylesheets/custom.css">
  {% else %}
  <link rel="stylesheet" href="/stylesheets/main-min.css">
  {% endif %}
  <link href="//www.mozilla.org/tabzilla/media/css/tabzilla.css" rel="stylesheet">
  <link rel="stylesheet" href="{{ loginAPI }}/css/nav.css">
  <link rel="stylesheet" href="/css/style.css">
  <link rel="icon" type="image/png" href="/img/favicon.ico">
</head>
<body data-url="{{url}}" data-authenticated="{{session.isAdmin || false" data-page="{{page}}">
<div id="wrapper">
  <div clas="content"></div>
  <div id="footer">
    <a data-action="logout">logout</a>a>
    <a data-actio="login">login</a>
  </div>
  <div id="header">
    <a href="/add" title="Add new" class="sub">Add</a>
    <a href="/subscription/manage" title="Manage subscriptions">Manage subscriptions</a>
  </div>
</div>
</body>
</html>


  body(data-url='#{url}', data-authenticated='#{session.isAdmin || false}', data-page='#{page}')
    #wrapper
      .content
        block content
      #footer
        a(id='logo', href='http://meatspac.es', title='Meatspace')
        .footer-inner
          a(href='https://github.com/ednapiranha/generaltoast') Fork this repo
          if session.isAdmin
            a(href='javascript:;', data-action='logout') Log out
          else
            a(href='javascript:;', data-action='login') Admin login

    #header
      a(href='/', title='Home') /
      if session.isAdmin
        a(href='/add', title='Add new', class='sub') +
        a(href='/subscription/manage', title='Manage subscriptions') s
      else
        a(href='/recent', title='Get this subscription url', class='sub mini') Subscribe

    script(src='https://login.persona.org/include.js', type='text/javascript')
    if isDebug
      script(src='/javascripts/require.js', data-main='/javascripts/config')
    else
      script(src='/javascripts/build/generaltoast.js')
