/* http://meyerweb.com/eric/tools/css/reset/
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    font: inherit;
    vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
    display: block;
}
body {
    line-height: 1;
}
ol, ul {
    list-style: none;
}
blockquote, q {
    quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
    content: '';
    content: none;
}
table {
    border-collapse: collapse;
    border-spacing: 0;
}

html, body {
    height: 100%;
    position: relative;
}

@font-face {
    font-family: 'BebasNeueRegular';
    src: url('../fonts/BebasNeue-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

a {
    color: #555;
    text-decoration: none;
}

#header {
    position: fixed;
    right: 0;
    top: 0;
    z-index: 2;
}

#header a, #side-actions a {
    background-color: #f1f1f1;
    float: left;
    font-family: 'BebasNeueRegular', Arial, sans-serif;
    font-size: 25px;
    line-height: 25px;
    margin-right: 5px;
    outline: none;
    padding: 5px 10px;
    text-align: center;
    width: 20px;
}

#header a.sub {
    font-size: 45px;
}

#header a:hover {
    background-color: #111;
    color: #eee;
}

#side-actions {
    position: fixed;
    right: 0;
    top: 40px;
    z-index: 2;
    width: 90px;
}

#side-actions a {
    background-color: #59d5bc;
    color: #fff;
    font-size: 20px;
    line-height: 22px;
    margin-bottom: 5px;
    text-align: left;
    width: 100%;
}

#side-actions a:hover {
    background-color: #3e99a4;
}

#wrapper {
    height: 100%;
    margin: 0 auto;
    max-width: 1500px;
    min-width: 300px;
    position: relative;
}

.form {
    float: left;
    max-width: 700px;
    width: 70%;
}

form {
    max-width: 800px;
}

.container {
    float: left;
    min-width: 280px;
    width: 43%;
}

.content {
    font-family: 'BebasNeueRegular', Arial, sans-serif;
    letter-spacing: 0.01rem;
    padding: 0 20px 20px;
}

h1, h2 {
    color: #49d1f8;
    font-size: 27px;
    margin: 8px 0 5px;
}

textarea {
    height: 100px;
    width: 97%;
}

.messages {
    margin-right: 20px;
}

.messages article, .subscriptions article {
    background-color: #f8f9fa;
    border-bottom: 20px solid rgba(255, 255, 255, 0.65);
    color: #444;
    font-family: Arial, sans-serif;
    font-size: 17px;
    line-height: 22px;
    margin-bottom: 5px;
    padding: 15px 10px;
    position: relative;
}

.messages p, .subscriptions p {
    overflow: hidden;
    text-overflow: ellipsis;
}

.messages .links img {
    max-width: 400px;
    width: 100%;
}

input[type="text"], textarea {
    clear: both;
    display: block;
    float: left;
    margin-bottom: 5px;
    width: 100%;
}

input, textarea {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    background-color: #f1f1f1;
    border: 0;
    font-family: Arial, sans-serif;
    font-size: 16px;
    padding: 10px;
}

label {
    clear: both;
    float: left;
    font-size: 20px;
    margin-top: 5px;
    width: 100%;
}

button {
    background-color: #72c575;
    border: 0;
    border-radius: 5px;
    color: #e0ffe1;
    cursor: pointer;
    font-size: 18px;
    padding: 5px 10px;
}

form button {
    float: right;
}

article.private {
    background-color: #e9eff2;
}

ul.links {
    margin: 20px 0 0;
}

ul.links li {
    margin-bottom: 5px;
    overflow: hidden;
}

ul.links a {
    color: #28c6f4;
}

.actions {
    bottom: -20px;
    position: absolute;
    right: 5px;
}

ul.subscriptions .actions a, .actions a {
    color: #bbb;
    padding-left: 15px;
    font-family: 'BebasNeueRegular', Arial, sans-serif;
    font-size: 18px;
}

ul.subscriptions .actions a:hover, .actions a:hover {
    color: #111;
}

ul.subscriptions li {
    background-color: #f8f9fa;
    border-bottom: 20px solid rgba(255, 255, 255, 0.65);
    margin-bottom: 5px;
    padding: 7px 10px;
    position: relative;
    width: 100%;
}

ul.subscriptions li a {
    font-family: Arial, sans-serif;
    font-size: 16px;
    line-height: 18px;
    overflow: hidden;
    text-overflow: ellipsis;
}

ul.subscriptions li a:hover {
    color: #111;
}

.hidden {
    display: none;
}

#footer {
    clear: both;
    float: left;
    margin: 20px;
}

@media only screen and (min-width: 371px) and (max-width: 800px) {
    .container {
        clear: both;
        width: 83%;
    }
}

@media only screen and (max-width: 370px) {
    .container, .form {
        margin-top: 20px;
    }

    .messages {
        margin-right: -40px;
    }

    #side-actions {
        top: 40px;
    }

    form {
        margin: 50px 0 0;
        width: 320px;
    }

    h1, h2 {
        font-size: 38px;
        line-height: 33px;
    }

    h1 {
        margin-top: 22px;
    }

    .messages, ul.subscriptions {
        margin-top: 50px;
    }

    .container.right {
        margin-top: 20px;
    }

    ul.subscriptions li {
        width: 300px;
    }
}

@media only screen and (max-width: 330px) {
    .messages {
        margin-right: 0;
    }

    form {
        width: 275px;
    }

    ul.subscriptions li {
        width: 260px;
    }
}
