/* http://meyerweb.com/eric/tools/css/reset/
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    font: inherit;
    vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
    display: block;
}
body {
    line-height: 1;
}
ol, ul {
    list-style: none;
}
blockquote, q {
    quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
    content: '';
    content: none;
}
table {
    border-collapse: collapse;
    border-spacing: 0;
}

html, body {
    height: 100%;
    position: relative;
}

@font-face {
    font-family: 'BebasNeueRegular';
    src: url('../fonts/BebasNeue-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

a {
    color: #555;
    text-decoration: none;
}

#header {
    position: fixed;
    right: 0;
    top: 0;
    z-index: 2;
}

#header a {
    background-color: #59d5bc;
    color: #fff;
    float: left;
    font-family: 'BebasNeueRegular', Arial, sans-serif;
    font-size: 25px;
    line-height: 35px;
    margin-right: 5px;
    outline: none;
    padding: 5px 10px;
    text-align: center;
    width: 30px;
}

#header a.sub {
    font-size: 45px;
}

#header a.mini {
    font-size: 20px;
    width: 65px;
}

#header a:hover, .pagination a:hover {
    background-color: #3e99a4;
}

#wrapper {
    height: 100%;
    position: relative;
}

.container, .inner-container, .form {
    clear: both;
    margin: 10px auto 0 auto;
    max-width: 1200px;
    min-width: 300px;
}

.form {
    max-width: 700px;
    padding: 0 10px;
}

.content-container {
    clear: both;
    float: left;
    padding: 0 0 20px;
    text-align: center;
    width: 100%;
}

.content {
    font-family: 'BebasNeueRegular', Arial, sans-serif;
    letter-spacing: 0.01rem;
}

.container.last {
    background-color: #77e7ff;
    float: left;
    height: 100%;
    max-width: 100%;
    padding: 0;
    width: 100%;
}

h1, h2 {
    color: #24d3f8;
    font-size: 40px;
    margin-bottom: 5px;
    padding-left: 5px;
}

.container.last h2 {
    color: #fff;
    margin-top: 10px;
}

textarea {
    height: 100px;
    width: 97%;
}

.messages {
    text-align: center;
}

article {
    background-color: rgba(2, 2, 2, 0.8);
    color: #444;
    display: inline-block;
    float: left;
    font-family: Arial, sans-serif;
    font-size: 20px;
    height: 290px;
    margin: 5px;
    overflow: hidden;
    position: relative;
    width: 290px;
}

article p {
    background-color: rgba(1, 1, 1, 0.7);
    color: #bbb;
    left: 0;
    line-height: 25px;
    max-height: 200px;
    overflow-y: auto;
    padding: 10px 20px;
    position: absolute;
    right: 0;
    text-align: left;
    text-overflow: ellipsis;
}

article p:empty {
    display: none;
}

.links img {
    width: 135%;
}

.links .link {
    bottom: 25px;
    font-size: 16px;
    left: 0;
    overflow: hidden;
    padding: 20px;
    position: absolute;
    right: 0;
    text-align: left;
    text-overflow: ellipsis;
    white-space: nowrap;
}

body[data-page="post"] .messages article {
    height: auto;
    min-height: 240px;
    padding-bottom: 45px;
    width: 400px;
}

body[data-page="post"] .messages .links:not(:empty) {
    height: 100%;
}

body[data-page="post"] .messages .links img {
    width: 100%;
}

input[type="text"], textarea {
    clear: both;
    display: block;
    float: left;
    margin-bottom: 5px;
    width: 100%;
}

input, textarea {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    background-color: #f1f1f1;
    border: 0;
    font-family: Arial, sans-serif;
    font-size: 16px;
    padding: 10px;
}

input[type="file"] {
    margin-bottom: 5px;
}

label {
    clear: both;
    float: left;
    font-size: 20px;
    margin-top: 5px;
    width: 100%;
}

button {
    background-color: #28c6f4;
    border: 0;
    border-radius: 5px;
    color: #fff;
    cursor: pointer;
    font-family: 'BebasNeueRegular', Arial, sans-serif;
    font-size: 22px;
    line-height: 22px;
    margin: 5px 0;
    padding: 5px 10px 3px;
}

form {
    display: block;
    float: left;
    margin: 65px 0;
    width: 100%;
}

form button {
    float: right;
}

article.private {
    background-color: #c9dee1;
}

ul.links li {
    height: 100%;
    margin-bottom: 5px;
    overflow: hidden;
}

ul.links a {
    color: #28c6f4;
}

.actions {
    bottom: 0;
    position: absolute;
    right: -2px;
}

ul.manage {
    display: block;
    margin-bottom: 50px;
}

ul.manage li {
    background-color: #eee;
    margin-bottom: 10px;
    padding: 5px 10px;
}

ul.manage a {
    font-family: Arial, sans-serif;
    font-size: 18px;
    line-height: 24px;
    margin-right: 10px;
}

ul.subscriptions .actions a, .actions a {
    background-color: rgba(42, 143, 221, 0.5);
    color: #fff;
    display: inline-block;
    margin: 0 2px;
    padding: 5px 3px;
    font-family: 'BebasNeueRegular', Arial, sans-serif;
    font-size: 22px;
    line-height: 20px;
    text-align: center;
    text-shadow: #39739c -1px -1px 0;
    width: 25px;
}

ul.subscriptions .actions a:hover, .actions a:hover {
    background-color: rgba(42, 143, 221, 1.0);
}

.hidden, .pagination a.hidden {
    display: none;
}

#footer {
    background-color: #111;
    clear: both;
    float: left;
    width: 100%;
}

.footer-inner {
    padding: 20px;
}

#footer a {
    color: #aaa;
    display: inline-block;
    font-family: 'BebasNeueRegular', Arial, sans-serif;
    font-size: 22px;
    margin-right: 20px;
}

.pagination {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    float: left;
    padding: 0 20px;
    width: 100%;
}

.pagination a {
    background-color: #59d5bc;
    color: #fff;
    font-size: 35px;
    display: inline-block;
    padding: 15px;
}

.pagination .prev {
    float: left;
}

.pagination .next {
    float: right;
}

.cancel {
    display: inline-block;
    font-family: Arial, sans-serif;
    float: left;
    font-size: 20px;
    margin-top: 15px;
}

@media only screen and (max-width: 370px) {
    body[data-page="post"] .messages article {
        width: 300px;
    }

    form {
        margin-top: 10px;
        width: 340px;
    }

    h1, h2 {
        text-align: left;
        margin-left: 5px;
    }

    h1 {
        margin-top: 50px;
    }

    .form h1 {
        margin: 50px 0 0;
    }

    .messages, ul.subscriptions {
        margin-top: 10px;
    }

    ul.subscriptions li {
        width: 300px;
    }
}

@media only screen and (max-width: 330px) {
    form {
        width: 300px;
    }

    ul.subscriptions li {
        width: 260px;
    }
}
